<div class="row">    
        <div class="large-8 columns">
         <form class="login-form">
            <div class="login-box">
                <h1 id="login-box"> Login</h1> 
            </div>
                
            <p class="login-name">
                <input id="user_name" type="text" placeholder="email" ng-model="user.email"/>
            </p>
            <p class="login-email">
                <input id="password" type="text" placeholder="password" ng-model="user.password"/>
            </p>
                <div id="menu2"> 
                    <ul class="button-group ">
                        <li>
                        <a  class="signup" ng-click="login()">Login</a>
                        </li>
                        <li>
                        <a class="signup" href="#/register">sign up</a>
                        </li>
                    </ul>
                </div>
                
            
        </div> 
    </div>  
</form>       
                       


        <a class="exit-off-canvas"></a>
    </div>
</div>
        