
<section class="main-section">
    <div class="row">
        <div class=" large-8 columns">
            <div class="row-2">

            <h1 id="volunteer-box"> Volunteer Connection</h1>
            </div> 
        </div>
         <div class="large-4 columns">
            <div class="row-2">

            <div id="menu">
            <ul class="button-group right">
                <li><a href="#/login" id="home-login">Login</a></li>
                <li><a href="#/register" id="home-signUp">Sign Up</a></li>
            </ul>
            </div>
        </div>
    </div> 
</div>         
                       
</section>

        <a class="exit-off-canvas"></a>
    </div>
</div>
