<div class="row">    
        <div class="large-8 columns">
         <form class="login-form">
            <div class="login-box">
                <h1 id="login-box"> Register </h1> 
            </div>
           <div class="login-name">
        <form name="loginForm">
          <div class="form-group">
            
            <input type='text' id="user_name"  placeholder="create username" ng-model="user.name">
          </div>
          <div class="login-name">
            
            <input type='email' class="form-control" placeholder="email" ng-model="user.email">
          </div>
          <div class="login-name">
            
            <input type='password' class="form-control" placeholder="create password" ng-model="user.password">
          </div>
          <div id="menu2"> 
                    <ul class="button-group ">
                        <li>
                        <a  class="signup" href="#/login">Login</a>
                        </li>
                        <li>
                        <a class="signup" ng-click="register()">sign up</a>
                        </li>
                    </ul>
                </div>
          
        </form>
       </div>
        </div>
    </div>
     </div>